
@use '../utils' as *;

/*=============================
    	11. destination
===============================*/

.tg-destination{
    &-item{
        border: 1px solid var(--tg-border-3);
        border-radius: 30px;
        background: var(--tg-common-white);
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &-thumb{
        position: relative;
        overflow: hidden;
        flex: 0 0 auto;
        height: 230px;

        @media #{$xl,$lg} {
            height: 210px;
        }

        @media #{$md,$sm} {
            height: 220px;
        }

        @media #{$xs} {
            height: 200px;
        }

        .ebt-destination-media {
            display: block;
            height: 100%;
        }

        & img{
            border-radius: 30px 30px 0px 0px;
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
            object-position: center;
        }

        .tg-listing-2-mask {
            position: absolute;
            bottom: -1px;
            left: -2px;
            right: -2px;
            width: 102%;
            z-index: 1;
            pointer-events: none;
            line-height: 0;

            img {
                width: 100% !important;
                height: auto !important;
                object-fit: contain;
                border-radius: 0 !important;
            }
        }
    }
    &-content{
        position: relative;
        z-index: 2;
        flex: 1 1 auto;
        background: var(--tg-common-white);
        padding: 0px 30px 26px 30px;
        @media #{$xl,$lg,$md,$sm,$xs} {
            padding: 0px 15px 20px 15px;
        }
    }
    &-meta{
        margin-top: -16px;
        margin-bottom: 18px;
        position: relative;
        z-index: 3;

        & span{
            font-weight: 500;
            text-transform: capitalize;
            color: var(--tg-common-white);
            border: 1px solid var(--tg-common-white);
            border-radius: 100px;
            padding: 1px 15px;
            display: inline-block;
            background: #0047AB;
            position: relative;
        }
    }
    &-tag{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6px;

        & span{
            font-weight: 500;
            font-size: 14px;
            text-transform: capitalize;
            color: var(--tg-grey-1);
            border: 1px solid var(--tg-border-3);
            border-radius: 6px;
            margin-bottom: 0;
            padding: 2px 9px;
            display: inline-block;
            background: var(--tg-grey-7);
        }
    }
}
